*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --text-color-G: #808080;
    --text-color-B: #000;
    --bg-color-B: #000;
    --bg-color-W: #fff;
    --text-color-W: #fff;
    --text-color-GY: #FFC43F;
    --border-color-P: #0d6dfd92;
    --cursor: pointer;
    --first-box-P: #e6f3fa;
    --second-box-S: #eef5e5;
    --third-box-D: #f9ebe7;
    --font-family: "Garamond";
}

/* Head */

#head header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header .head__img{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 30px;
}

.head__img h1{
    font-size: 2em;
    letter-spacing: 1px;
}

.head__img span{
    color: var(--text-color-GY);
}

.head__img p{
    color: var(--text-color-G);
    letter-spacing: 4.7px;
}

.head__inputDrop{
    width: 40%;
    height: 8vh;
    border-radius: 15px;
    background:#8080803b;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.head__inputDrop select{
    padding: 5px 30px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #808080;
    cursor: var(--cursor);
}

.head__inputDrop select option{
    background: var(--text-color-W);
    color: var(--text-color-G);
    font-weight: 600;
}


.head__inputDrop .inputBox{
    width: 65%;
    height: 4vh;
    border-radius: 10px;
}

.head__inputDrop .inputBox input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: var(--cursor);
}

.head__inputDrop label{
    cursor: var(--cursor);
}

.head__contact{
    width: 35%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.head__contact .number p{
    text-align: end;
}

.head__contact .number span{
    font-size: 1.2em;
    font-weight: 600;
}

.head__contact .icon{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2em;
}
.head__contact .icon > i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all .2s linear;
}

.head__contact .icon > i:hover{
    background: #8080803b;

}

.head__contact .cartClick{
    cursor: var(--cursor);
}

#cartList{
    z-index: 1000;
}

header .cart{
    position: absolute;
    width: 28%;
    height: 100%;
    right: 0%;
    top: 0%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    display: none;
}

.cart .closeIcon{
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: var(--cursor);
}

.cart .closeIcon:hover{
    outline: 5px solid rgba(13, 109, 253, 0.35);
}

.cart .cartItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: 30px;
    color: var(--text-color-GY);
}

.cartItems :nth-child(2){
    background: var(--text-color-GY);
    color: var(--text-color-W);
    width: 50px;
    border-radius: 50px;
    text-align: center;

}

.itemName{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 80%;
    margin:20px 0 40px;
}

.itemName .itemDescribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.itemDescribe div :nth-child(1){
    font-weight: 600;
}

.itemDescribe:nth-child(4){
    color: var(--text-color-G);
}

.itemDescribe .rupee{
    font-family: none;
    font-size: 1.1em;
}

.cart .stocks{
    background: var(--text-color-GY);
    width: 90%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    color: var(--text-color-W);
    font-weight: 600;
}

.cart .stocks:hover{
    color: var(--text-color-G);
}

.contactDetailIcon{
    display: none;
    font-size: 1.3em;
}

/* search Input */

.searchInput{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;
    position: absolute;
    background: var(--text-color-W);
    width: 60%;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
}
.searchInput i{
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--text-color-G);
}

.searchInput i:hover{
    outline: 5px solid rgba(13, 109, 253, 0.35);
}

.searchInput h1{
    text-align: start;
    /* border: solid; */
    width: 100%;
    color: var(--text-color-GY);
}

.searchInput input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    outline: none;
}

/* search Input */

/* Head */

/* Navigation bar */

#navBar{
    height: 10vh;
    z-index: 999;
}

#navBar nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
}

#navBar nav ul li a{
    color: var(--text-color-G);
    cursor: var(--cursor);
}

#navBar nav ul li select{
    padding: 5px 20px;
    background: transparent;
    border: none;
    outline: none;
}

#navBar nav ul li select option{
    background: var(--text-color-W);
    color: var(--text-color-G);
    font-weight: 600;
}

#navBar .toggleIcon{
    display: none;
    font-size: 1.5em;
    cursor: var(--cursor);
}

/* Navigation bar */

/* Advertisement */

#adverTise{
    /* width: 100%; */
    height: fit-content;
    padding: 0 30px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

/* #adverTise div - Put border radius all division within this. */
#adverTise div{
    border-radius: 10px;
}

.main-box {
    grid-column: 1 / span 1;
    grid-row: 1 / span 20;
    background: var(--first-box-P);
    position: relative;
    overflow: hidden;
}

.main-box .img-adContent{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all .5s ease-in;
}

.main-box .img-adContent img{
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
    transform: translateY(20%);
    width: 55%;
    height: 60%;
}

.img-adContent .adContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -70%);
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.adContent h1:nth-child(1){
    font-size: 2.5em;
    font-weight: 200;
    color: var(--text-color-GY);
    font-family:var(--font-family);
}

.adContent h1:nth-child(2){
    font-size: 2.5em;
}

.adContent button{
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    outline:1px solid #000;
    background: transparent;
    cursor: var(--cursor);
}

.adContent button:hover{
    color: var(--text-color-W);
    background: var(--bg-color-B);
}

.main-box .img-adContent:nth-child(2){
    left: 100%;
}

.main-box .img-adContent:nth-child(3){
    left: 200%;
}

.img-adContent:nth-child(2) .adContent{
    gap: 10px;
}

.img-adContent:nth-child(2) .adContent h1:nth-child(2){
    font-size: 2.5em;
    line-height: 50px;
}

.img-adContent:nth-child(3) .adContent{
    transform: translate(0%, -70%);
    gap: 10px;
}

.img-adContent:nth-child(3) .adContent h1:nth-child(2){
    font-size: 2em;
}

.main-box .dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    gap: 10px;
}

.main-box .dots .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 500;
    transition: all .5s ease;
    cursor: var(--cursor);
}

.main-box .dots .active{
    background: var(--text-color-GY);
}

/* side box */
.side-box {
    grid-column: 2 / span 5;
    overflow: hidden;
}

/* side-1 */
#adverTise .side-box:nth-child(2){
    background: var(--second-box-S);
    grid-row: 1 / span 10;
}

.side-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Side Img */
.side-one img{
    width: 50%;
    height: 80%;
    filter: drop-shadow(10px 0 10px rgba(0,0,0,.3));
}

.side-one .side1-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.side1-content p{
    font-family: var(--font-family);
}

.side1-content p:nth-child(1){
    font-size: 2em;
    font-weight: 400;
    color: var(--text-color-GY);
}

.side1-content p:nth-child(2) span{
    font-size: .9em;
    letter-spacing: 2px;
}

.side1-content p:nth-child(3){
    font-size: 1.7em;
    font-weight: 600;
    width: 100%;    
}
.side1-content p:nth-child(4) a{
    color: var(--text-color-B);
    cursor: var(--cursor);
}

/* side-1 */

/* Side-2 */
#adverTise .side-box:nth-child(3){
    background: var(--third-box-D);
    grid-row: 11 / span 10;

}

.side-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Side Img */
.side-two img{
    width: 50%;
    height: 80%;
    filter: drop-shadow(10px 0 10px rgba(0,0,0,.3));
}

.side-two .side2-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.side2-content p{
    font-family: var(--font-family);
}

.side2-content p:nth-child(1){
    font-size: 2em;
    font-weight: 400;
    color: var(--text-color-GY);
}

.side2-content p:nth-child(2) span{
    font-size: .9em;
    letter-spacing: 2px;
}

.side2-content p:nth-child(3){
    font-size: 1.7em;
    font-weight: 600;
    width: 100%;    
}
.side2-content p:nth-child(4) a{
    color: var(--text-color-B);
    cursor: var(--cursor);
}

/* Side-2 */

/* side box */

/* Advertisement */

/* Category */
#category{
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

#category .category__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.category__title .arrows button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}


.category__content{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 45vh;
    scroll-behavior: smooth;
}

.category__content .category__items{
    width: 18%;
    height: 40vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all .5s ease;
    border-radius: 10px;
    position: relative;
}

.category__content .category__items:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.category__items img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.category__items .img-content{
    font-variant: small-caps;
    text-align: center;
}

.category__items .img-content i{
    border-radius: 50%;
    transition: all .5s ease;
    cursor: var(--cursor);
}

.category__items .img-content i:hover{
    outline: 10px solid rgba(116, 116, 116, 0.162);
    scale: 1.1;
}

.category__items .items__details{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease;
    background: #b98ecaad;
    backdrop-filter: blur(5px);
    color: var(--text-color-W);
}

.items__details i{
    float: left;
    font-size: 1em;
    margin: 10px;
    cursor: var(--cursor);
}

.items__details p{
    margin: 10px;
    font-weight: 500;
}

.items__details ul{
    margin: 10px;
    font-weight: 500;
}
/* Category */


/* Category Drinks */

#categoryDrinks{
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

#categoryDrinks .drinks__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.drinks__title .arrows button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}


.categoryDrinks__content{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 45vh;
    scroll-behavior: smooth;
}

.categoryDrinks__content .categoryDrinks__items{
    width: 18%;
    height: 40vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all .5s ease;
    border-radius: 10px;
    position: relative;
}

.categoryDrinks__content .categoryDrinks__items:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.categoryDrinks__items img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.categoryDrinks__items .img-content{
    font-variant: small-caps;
    text-align: center;
}

.categoryDrinks__items .img-content i{
    border-radius: 50%;
    transition: all .5s ease;
    cursor: var(--cursor);
}

.categoryDrinks__items .img-content i:hover{
    outline: 10px solid rgba(116, 116, 116, 0.162);
    scale: 1.1;
}

.categoryDrinks__items .items__details{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease;
    background: #d2691e60;
    backdrop-filter: blur(5px);
    color: var(--text-color-W);
}

.categoryDrinks__items .items__details i{
    float: left;
    font-size: 1em;
    margin: 10px;
    cursor: var(--cursor);
}

.categoryDrinks__items .items__details p{
    margin: 10px;
    font-weight: 500;
}

.categoryDrinks__items .items__details ul{
    margin: 10px;
    font-weight: 500;
}

/* Category Drinks */

/* Offer-1 */

#offer1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 40px;
    overflow: hidden;
}

#offer1 .offer-sweets, .offer-ice_cream{
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

#offer1 .offer-sweets{
    background: var(--third-box-D);
}

#offer1 .offer--detail{
    padding: 40px 20px 0;
    /* border: solid; */
}

.offer--detail h2{
    font-family: var(--font-family);
    color: var(--text-color-GY);
}

.offer--detail h1{
    padding: 10px 0;
}

.offer--detail button{
    margin:10px 0;
    padding: 7.5px 15px;
    background: transparent;
    border-radius: 5px;
    border:1px solid;
    outline: none;
    cursor: var(--cursor);
}

.offer--detail button:hover{
    background: var(--bg-color-B);
    color: var(--text-color-W);
}

#offer1 img{
    width: 100%;
    object-fit: contain;
}

#offer1 .offer-ice_cream{
    background: var(--second-box-S);
}
/* Offer-1 */

/* Variety of healthy Foods */

#healthyFood{
    padding: 20px;
}

#healthyFood .food-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.food-list ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.food-list ul li{
    font-size: 1.1em;
    font-weight: 600;
    cursor: var(--cursor);
}

.food-list ul .active{
    border-bottom: 2px solid var(--text-color-GY);
}

.allList{
    padding: 20px;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    transition: all 0.5s ease;
}

.allList .all-listOf-food{
    height: 78vh;
}


.allList div{
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 5px;
    border-radius: 10px;
}

.allFoodList{
    display: grid;
}

.allList img{
    display: block;
    width: 100%;
    height: 50%;
    object-fit: contain;
    background: #00000010;
    border-radius: 10px;
}

.allList span {
    display: block;
}

.allList span{
    text-align: center;
    font-variant: small-caps;
    margin: 5px 0;
}

.allList .FoodList-detail span:nth-child(1){
    margin: 20px 0 0;
    font-weight: 600;
    font-size: 1.1em;
}

.allList .FoodList-detail .product-quantity{
    display: inline;
    padding: 5px 25px;
}

.allList .FoodList-detail label{
    font-family: none;
}

.allList .FoodList-detail button{
    margin: 5px 15px 0;
    padding: 1px 10px;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.allList .addCart{
    padding: 10px;
}

.allList .addCart a{
    color: var(--bg-color-B);
}

.allList .addCart:hover i{
    color: var(--text-color-GY);
}

/* Variety of healthy Foods */


/* Purchase discount email */

#purchaseDiscount{
    padding: 40px;
    /* height: 80vh; */
}

#purchaseDiscount .purchase-email{
    background: var(--first-box-P);
    height: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#purchaseDiscount img{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0%;
    filter: opacity(40%);
}

.purchase-email .user-purchase-detail{
    /* border: solid; */
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.user-purchase-detail .discount-title{
    width: 50%;
}

.user-purchase-detail .discount-title h1{
    max-width: 90%;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.user-purchase-detail .discount-title h1 span{
    color: var(--text-color-GY);
}

.user-purchase-detail .discount-title p{
    font-size: 1.2em;
    font-weight: 600;
}
.user-purchase-detail .user-detail{
    width: 50%;
}

.user-purchase-detail .user-detail form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.user-detail form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    margin-top: 10px;
}

.user-detail form input:focus{
    outline: 5px solid rgba(13, 109, 253, 0.35);
}

.user-detail form .userName{
    width: 100%;
}

.user-detail form .userEmail{
    width: 100%;
}

.user-detail form .userSubmit{
    width: 100%;
    padding: 10px;
    border: none;
    color: var(--text-color-W);
    font-weight: 600;
    background: var(--bg-color-B);
    border-radius: 10px;
    position: relative;
}

.user-detail form .userSubmit:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff33;
    width: 100%;
    height: 100%;
    border-radius: 10px;    
    cursor: var(--cursor);
}
/* Purchase discount email */













































































/* Responsive */

@media (max-width: 1200px) {
    /* header */

    #head .head__contact{
        width: 27%;
    }
    #head .head__contact .number{
        display: none;
    }
    /* header */

    /* Advertisement */

    #adverTise .main-box{
        grid-column: 1 / span 7;
        grid-row: 1 / span 28;
    }

    .main-box .img-adContent img{
        width: 60%;
        height: 50%;
        transform: translate(32%,-5%);
    }

    .main-box .img-adContent .adContent{
        width: 90%;
        transform: translate(-50%, -10%);
    }
    .main-box .img-adContent:nth-child(3) .adContent{
        gap: 20px;
    }

    #adverTise .side-box:nth-child(2){
        grid-column: 1 / span 7;
        grid-row: 29 / span 5;
    }

    #adverTise .side-box:nth-child(3){
        grid-column: 1 / span 7;
        grid-row: 34 / span 15;
    }

    .side-two img{
        width: 40%;
        height: 80%;
    }


    /* Advertisement */

    /* Category */

    .category__content{
        width: 100%;
    }
    .category__content .category__items{
        width: 65%;
    }

    /* Category */

    /* Category Drinks */

    .categoryDrinks__content{
        width: 100%;
    }
    .categoryDrinks__content .categoryDrinks__items{
        width: 65%;
    }

    /* Category Drinks */

    /* Offer1 */

    #offer1 .offer--detail{
        padding: 40px 0 0 20px;
    }

    #offer1 .offer-sweets, .offer-ice_cream{
        height: 50vh;
    }
    
    /* Offer1 */

    /* Variety of healthy food */

    .allList{
        grid-template-columns: repeat(4, 1fr);
    }

    .allList .all-listOf-food{
        height: 85vh;
    }

    /* Variety of healthy food */
}

@media (max-width: 992px) {
    /* Header */
    #head header{
        padding: 10px 20px;
    }
    #head #inputDrop{
        display: none !important;
    }

    #contactDetail{
        display: none !important;
    }
    .contactDetailIcon{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .searchInput{
        display: none;
    }
    /* Header */
    
    /* Navigation Bar */

    #navBar nav{
        position: relative;
        height: 0;
        overflow: hidden;
        transition: all .5s ease;
        z-index: 999;
    }

    #navBar #navList{
        background: #fff;
    }

    #navBar nav ul{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    #navBar .toggleIcon{
        display: flex;
        justify-content: start;
        width: 100%;
        padding: 20px;
    }

    /* Navigation Bar */

    /* Advertisement */

    #adverTise .main-box{
        grid-column: 1 / span 7;
        grid-row: 1 / span 25;
    }

    .main-box .img-adContent:nth-child(1) .adContent{
        gap: 5px;
    }

    .main-box .img-adContent:nth-child(1) .adContent h1:nth-child(2){
        line-height: 50px;
    }

    #adverTise .side-box:nth-child(2){
        grid-column: 1 / span 7;
        grid-row: 26 / span 5;
    }

    #adverTise .side-box:nth-child(3){
        grid-column: 1 / span 7;
        grid-row: 31 / span 15;
    }

    .side-two img{
        width: 50%;
        height: 80%;
    }

    /* Advertisement */

    /* Category */

    .category__content{
        width: 100%;
    }
    .category__content .category__items{
        width: 70%;
    }

    /* Category */

    /* Category Drinks */

    .categoryDrinks__content{
        width: 100%;
    }
    .categoryDrinks__content .categoryDrinks__items{
        width: 70%;
    }

    /* Category Drinks */

    /* offer1 */

    #offer1{
        grid-template-columns: repeat(1, 1fr);
    }

    /* offer1 */

    /* Variety of healthy food */

    .allList{
        grid-template-columns: repeat(3, 1fr);
    }

    .allList .all-listOf-food{
        height: 88vh;
    }

    /* Variety of healthy food */

    .user-purchase-detail .discount-title{
        width: 100%;
    }

    .purchase-email .user-purchase-detail{
        flex-direction: column;
        align-items: normal;
    }

    .user-purchase-detail .user-detail{
        width: 100%;
    }

    /* Purchase discount email */

}

@media (max-width: 768px) {
    /* Navigation Bar */
    
    
    
    /* Navigation Bar */
    
    /* Advertisement */
    
    #adverTise .main-box{
        grid-column: 1 / span 7;
        grid-row: 1 / span 30;
    }

    .main-box .img-adContent img{
        width: 100%;
        height: 50%;
        transform: translateY(-5%);
    }

    .main-box .img-adContent .adContent{
        width: 90%;
        transform: translate(-50%, -10%);
    }

    .main-box .img-adContent:nth-child(3) .adContent{
        gap: 8px;
    }

    #adverTise .side-box:nth-child(2){
        grid-column: 1 / span 7;
        grid-row: 31 / span 12;
    }

    #adverTise .side-box:nth-child(3){
        grid-column: 1 / span 7;
        grid-row: 43 / span 15;
    }

    /* Advertisement */

    /* Category */

    .category__content{
        width: 100%;
    }
    .category__content .category__items{
        width: 60%;
    }

    /* Category */

    /* Category Drinks */

    .categoryDrinks__content{
        width: 100%;
    }
    .categoryDrinks__content .categoryDrinks__items{
        width: 60%;
    }

    /* Category Drinks */

    /* Variety of healthy foods */

    #healthyFood .food-list{
        flex-direction: column;
    }

    .allList{
        grid-template-columns: repeat(2, 1fr);
    }

    .allList .all-listOf-food{
        height: 88vh;
    }

    /* Variety of healthy foods */
}


@media (max-width: 576px){
    /* Header */
    #head header{
        /* width: 100%; */
        padding: 0;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }

    #head .head__img{
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    #head #inputDrop{
        display: none !important;
    }

    #contactDetail{
        display: none !important;
    }
    .contactDetailIcon{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .searchInput{
        display: none;
    }

    /* Header */

    /* Navigation Bar */

    #navBar #toggleIcon{
        justify-content: center;
    }

    /* Navigation Bar */

    /* Advertisement */

    #adverTise .main-box{
        grid-column: 1 / span 7;
        grid-row: 1 / span 28;
    }

    .main-box .img-adContent img{
        width: 100%;
        height: 40%;
        transform: translate(-0%,-5%);
    }

    .main-box .img-adContent .adContent{
        width: 100%;
        transform: translate(-50%, -25%);
    }

    .main-box .img-adContent:nth-child(1) .adContent{
        gap: 20px;
    }

    .main-box .img-adContent:nth-child(3) .adContent ul li:nth-child(3){
        display: none;
    }

    #adverTise .side-box:nth-child(2){
        grid-column: 1 / span 7;
        grid-row: 29 / span 17;
    }

    .side-one{
        flex-direction: column;
    }

    .side-one .side1-content{
        width: 100%;
    }
    .side-one img{
        width: 100%;
        height: 100%;
    }

    .side-one .side1-content p:nth-child(3){
        font-size: 1.5em;
    }

    #adverTise .side-box:nth-child(3){
        grid-column: 1 / span 7;
        grid-row: 46 / span 15;
    }

    .side-two{
        flex-direction: column;
    }

    .side-two .side2-content{
        width: 100%;
    }
    .side-two img{
        width: 50%;
        height: 100%;
    }

    /* Advertisement */

    /* Category */

    .category__content{
        width: 104%;
    }
    .category__content .category__items{
        width: 65%;
    }
    
    /* Category */

    /* Category Drinks */

    .categoryDrinks__content{
        width: 100%;
    }
    .categoryDrinks__content .categoryDrinks__items{
        width: 65%;
    }

    /* Category Drinks */

    /* Offer1 */

    #offer1 .offer-sweets, .offer-ice_cream{
        height: 50vh;
    }

    #offer1 img{
        height: 100%;
        object-fit: contain;
    }

    #offer1 .offer-sweets{
        grid-template-columns: repeat(1, 1fr);
    }

    #offer1 .offer-ice_cream{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Offer1 */

    /* Variety of healthy foods */

    .food-list ul{
        flex-direction: column;
    }

    .allList{
        grid-template-columns: repeat(1, 1fr);
    }

    .allList .all-listOf-food{
        height: 85vh;
    }

    /* Variety of healthy foods */

}

@media (max-width: 408px){
    /* Advertisement */

    #adverTise .main-box{
        grid-column: 1 / span 7;
        grid-row: 1 / span 23;
    }

    .main-box .img-adContent img{
        width: 80%;
        height: 20%;
        transform: translate(15%,-5%);
    }

    .main-box .img-adContent .adContent{
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .main-box .img-adContent .adContent h1:nth-child(1){
        font-size: 1em;
    }

    .main-box .img-adContent:nth-child(1) .adContent{
        gap: 5px;
    }

    .main-box .img-adContent .adContent h1:nth-child(2){
        font-size: 1.8em;
        line-height: 25px;
    }

    .main-box .img-adContent:nth-child(2) .adContent ul li:nth-child(2){
        display: none;
    }

    .main-box .img-adContent:nth-child(3) .adContent ul li:nth-child(3){
        display: none;
    }

    #adverTise .side-box:nth-child(2){
        grid-column: 1 / span 7;
        grid-row: 24 / span 12;
    }

    #adverTise .side-box:nth-child(3){
        grid-column: 1 / span 7;
        grid-row: 36 / span 15;
    }

    .side-two img{
        width: 80%;
        height: 100%;
    }
    /* Advertisement */

    /* Category */

    .category__content{
        width: 65%;
    }
    .category__content .category__items{
        width: 100%;
    }
    
    /* Category */

    /* Category Drinks */

    .categoryDrinks__content{
        width: 65%;
    }
    .categoryDrinks__content .categoryDrinks__items{
        width: 100%;
    }

    /* Category Drinks */

    /* Offer1 */
    
    /* Offer1 */
}

/* Responsive */